<nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background-color: rgb(217,156,156); opacity: 0.80;">
  <div class="container-fluid">
    <a class="navbar-brand" >KINOMANIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all-films/">All FILMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all-hall/">All Hall</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Special
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/reserve-hall/">Reserve hall for yourself</a></li>
{#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#            <li><hr class="dropdown-divider"></li>#}
{#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% if not request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="/login/">LOGIN</a>
          {% else %}
              <li class="btn-group dropstart">
               <a class="nav-link active dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black">
            <strong>{{ user.username }}</strong>
               </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" >
               <li><a class="dropdown-item" href="/your-tiket/">Your tiket</a></li>
               <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/leaving-opinion/">Living your opinion </a></li>
               <li><a class="nav-link active" href="/logout/">LOGOUT</a></li>
              </ul>
              </li>
          {% endif %}
    </div>
  </div>
</nav>